body {
    background-color: #eee;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.container {
    max-width: 500px;
}

.card, 
.form-control {
    border: 0.1px solid black;
}

.icon {
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
    border: 0.1px solid black;
}